<section
  class="home-bg dark:bg-black text-center py-20 h-screen flex items-center justify-center"
>
  <div class="container mx-auto px-4">
    <div
      class="flex flex-col justify-center items-center text-center md:text-left"
    >
      <p class="sm:w-[450px] w-full text-sm text-end mb-2">
        <i class="text-green-500">&#10003;</i>
        <span>TrustPeople verified</span>
      </p>
      <h2
        class="zoom-animation delay-500 sm:py-3 sm:px-4 text-xl sm:text-3xl py-1 px-1 text-[14px] border border-grey-100 rounded-[50px] w-fit flex items-center justify-center mb-4"
      >
        <span class="mr-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="4"
            stroke="currentColor"
            class="w-6 h-6 text-red-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </span>
        Application only
        <span class="m-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="4"
            stroke="currentColor"
            class="w-6 h-6 text-green-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 13l4 4L19 7"></path>
          </svg>
        </span>
        8% got accepted
      </h2>
    </div>

    <h1
      class="text-4xl sm:text-5xl tracking-wide md:text-[70px] font-bold mb-8 leading-tight mt-4"
    >
      Send more cold emails <br /> with <strong>unlimited inboxes</strong>
    </h1>
    <p class="text-lg sm:text-2xl md:text-2xl">
      ➜ if you're accepted you get <strong>everything</strong> mentioned on this
      website <strong>for free.</strong>
    </p>
    <div class="mt-12">
      <a
        href="/signup"
        class="px-6 py-3 bg-blue-500 text-white rounded-md font-semibold hover:bg-blue-600 transition duration-300"
        >Apply Now</a
      >
    </div>
  </div>
</section>
<style>
  .home-bg {
    background: radial-gradient(
      140% 44% at 6.800000000000001% 6.2%,
      rgba(255, 213, 0, 0.6) 0%,
      rgba(255, 213, 0, 0.32) 46.09997570514679%,
      rgb(255, 255, 255) 100%
    );
  }
  .delay-500 {
    animation-delay: 500ms;
  }
  @keyframes zoom {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

  .zoom-animation {
    animation: zoom 2.5s infinite ease-in-out;
  }
</style>
