<section class="px-4 sm:px-8 py-8 bg-[#f3f4f6]">
  <div class="alt-wrapper flex items-center justify-center p-6 sm:p-10">
    <div class="p-6 rounded-[40px] shadow-lg w-full max-w-[1000px]">
      <h2
        class="text-center text-white font-bold mb-8 text-3xl sm:text-4xl md:text-[40px] lg:text-[48px] sm:leading-[60px] leading-[40px]"
      >
        The alternative?
      </h2>
      <div class="alt-box mt-4">
        <p
          class="text-center text-base sm:text-lg md:text-xl font-semibold text-gray-800"
        >
          1000 sending / day is like having 35 inboxes sending 30 emails daily
        </p>
      </div>

      <div class="mt-6 p-4 rounded-md text-[28px] sm:text-[32px] font-bold">
        <p class="text-white text-center">
          G-suite is $7.20 / month x 35 inboxes =
          <span class="text-red-500 font-bold">$252 </span>
          / month
        </p>
        <p class="mt-1 text-white text-center">
          17 .com domains (2 inboxes each) =
          <span class="text-red-500 font-bold">$255 </span> one-time
        </p>
      </div>
      <p
        class="text-center text-white text-[18px] sm:text-[20px] md:text-[22px] lg:text-[24px]"
      >
        <span class="text-red-500">And it keeps breaking…</span> forcing you to spend
        the same, again & again.
      </p>
    </div>
  </div>
</section>

<style>
  .alt-wrapper {
    background: radial-gradient(
      150% 100% at 93% -22.8%,
      #ffffff 0%,
      rgb(20, 30, 46) 69.02097409909909%,
      rgb(16, 18, 19) 100%
    );
    border-radius: 30px;
    box-shadow:
      0 0.3613123810646357px 0.5058373334904899px -1.1666666666666665px #0000002b,
      0 1.3731199819460742px 1.9223679747245037px -2.333333333333333px #00000027,
      0 6px 8.399999999999999px -3.5px #00000013,
      0 -0.3613123810646357px 0.5058373334904899px -1.1666666666666665px
        #0000002b,
      0 -1.3731199819460742px 1.9223679747245037px -2.333333333333333px
        #00000027,
      0 -6px 8.399999999999999px -3.5px #00000013;

    .alt-box {
      align-items: center;
      background-color: #fff;
      border-radius: 15px;
      padding: 12px 0;
      display: flex;
      flex: none;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 3px;
      height: auto;
      justify-content: center;
      align-items: center;
      overflow: visible;
      position: relative;
      max-width: 830px;
      margin: 0 auto;
    }
  }
</style>
