<section class="py-[160px] px-10">
  <div class="container m-auto">
    <h2
      class="sm:text-[48px] text-3xl text-center font-bold sm:leading-[60px] leading-[40px]"
    >
      Eventually, everyone burns <br /> inboxes - so what then?
    </h2>
    <p class="text-center mt-4">
      It boggles many minds - because some people really still do it the awkward
      way.
    </p>
    <div class="flex justify-center items-center flex-col mt-10">
      <div class="flex gap-8 flex-wrap">
        <!-- Card 1: Replacing Inboxes (Old Way) -->
        <div
          class="bg-[#00173c] p-8 rounded-[34px] shadow-md flex-1 max-w-[400px]"
        >
          <h2
            class="text-[18px] text-center font-bold mb-4 bg-red-500 text-black p-2 rounded-lg mt-20"
          >
            Replacing Inboxes (Old Way)
          </h2>
          <hr class="my-10 bg-grey-800 border border-[#e5e5e5]" />
          <ul class="list-inside text-white px-[1rem]">
            <li class="text-2xl font-bold mb-4">
              Throw away 50 domains & 100 inboxes <span class="text-red-800"
                >(lost $1000+)</span
              >
            </li>
            <li class="text-2xl font-bold mb-4">
              Buy 50 domains & 100 inboxes again <span class="text-red-800"
                >(spend $1000+)</span
              >
            </li>
            <li class="text-2xl font-bold mb-4">
              15+ hours setting up inboxes +<span class="text-red-800">
                wait 3</span
              > weeks for warmup
            </li>
          </ul>
        </div>

        <!-- Card 2: Replacing Inboxes (sending.ac) -->
        <div
          class="bg-[#00173c] p-8 rounded-[34px] shadow-md flex-1 max-w-[400px]"
        >
          <h2
            class="text-[18px] text-center font-bold mb-4 bg-[#30db00] text-black p-2 rounded-lg mt-20"
          >
            Replacing Inboxes (sending.ac)
          </h2>
          <hr class="my-10 bg-grey-800 border border-[#e5e5e5]" />
          <ul class="list-inside text-white px-[2rem]">
            <li class="text-2xl font-bold mb-4">
              Throw away 1 domain <span class="text-[#30db00]">($15)</span>
            </li>
            <li class="text-2xl font-bold mb-4">
              Buy 1 new domain <span class="text-[#30db00]">($15)</span>
            </li>
            <li class="text-2xl font-bold mb-4">
              We replace your domain & inboxes within hours
            </li>
            <li class="text-2xl font-bold mb-4">Back to sending, fast.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
