---
import Footer from '../components/footer/Footer.astro';
import Navbar from '../components/header/Navbar.astro';

interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Reddit Crawler" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-secondary font-sans">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    /* Default (Light Mode) */
    --background: #ffffff;
    --text-color: #13151a;
    --navbar-bg: #f8f9fa;
    --footer-bg: #f1f3f5;
    --button-bg: #1369ce;
    --button-text: #ffffff;
  }

  [data-theme='dark'] {
    /* Dark Mode */
    --background: #13151a;
    --text-color: #ffffff;
    --navbar-bg: #1f2227;
    --footer-bg: #1f2227;
    --button-bg: #3c64ff;
    --button-text: #ffffff;
  }

  html {
    font-family: system-ui, sans-serif;
    background: var(--background);
    color: var(--text-color);
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  body {
    margin: 0;
  }

  header,
  footer {
    background-color: var(--navbar-bg);
  }

  button {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
